body{
    font-size:1em;
    font-family:verdana;
}
#mySubmit{
    font-size:1.5em;
    color:rgb(17, 17, 17);
    background-color:rgb(12, 80, 12);
    border:none;
    padding:10px 20px;
    border-radius:5px;
    transition:background-color 0.5s;
    cursor: pointer;
}
#mySubmit:hover{
    background-color:lightgreen;
}